# .dockerignore

# Log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bağımlılık klasörleri
node_modules

# Build sonucu oluşan klasör (konteyner içinde oluşturulacak)
dist
dist-ssr

# IDE ve sistem dosyaları
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?